<app-page
  [backgroundImageSrc]="'assets/alexey-taktarov-_a6ERB7NLfg-unsplash.jpg'"
  backgroundImageAlt="Road closed">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-title>Cannot access</app-title>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-paragraph>
          You cannot access this page because your session expired or required data in the form is
          missing.
        </app-paragraph>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="button" routerLink="/configurator/1">Go to Tesla configurator</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="button" routerLink="/">Homepage</a>
      </div>
    </div>
  </div>
</app-page>
