<app-page
  [backgroundImageSrc]="'assets/tesla-fans-schweiz-7_OQMgoGzDw-unsplash.jpg'"
  backgroundImageAlt="TeslaCar">
  <app-card>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="button-group">
            <button [routerLink]="['/configurator', '1']" routerLinkActive="router-link-active">
              Step 1
            </button>
            <button [routerLink]="['/configurator', '2']">Step 2</button>
            <button [routerLink]="['/configurator', '3']">Step 3</button>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </app-card>
</app-page>
