<form *ngIf="(loading | async) === false; else loader" [formGroup]="service.form">
  <div class="container" *ngIf="models | async as models; else error">
    <div class="row" *ngIf="models.length; else error">
      <div class="col-sm-12">
        <div class="input-group">
          <label for="modelSelect">Model</label>
          <select id="modelSelect" placeholder="Model" formControlName="model">
            <option></option>
            <ng-container *ngFor="let model of models">
              <option value="{{ model.code }}">
                {{ model.code }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <ng-container *ngIf="colors | async as colors; else error">
      <div class="row" *ngIf="colors.length">
        <div class="col-sm-12">
          <div class="input-group">
            <label for="colorSelect">Color</label>
            <select id="colorSelect" placeholder="Color" formControlName="color">
              <option></option>
              <ng-container *ngFor="let color of colors">
                <option value="{{ color.code }}">
                  {{ color.code }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row" *ngIf="image | async as image">
    <div class="col-sm-12">
      <app-image [src]="image.src" [width]="1260" [height]="738" [alt]="image.alt"></app-image>
    </div>
  </div>
</form>
<ng-template #loader>
  <div class="spinner"></div>
</ng-template>
<!-- TODO Use error -->
<ng-template #error>
  <app-error-toast
    title="Error"
    message="Something went wrong"
    button="Reload"
    [onClick]=""></app-error-toast>
</ng-template>
